<nz-layout style="height: 100vh;">
  <nz-header>
    <nz-row>
      <nz-col nzSpan="6">
        <a href="https://github.com/Ahoo-Wang/CoSky" target="_blank">
        <h1 style="color: white">CoSky</h1>
      </a>
      </nz-col>
      <nz-col nzOffset="6" nzSpan="12">
        <ul nz-menu nzTheme="dark" nzMode="horizontal" style="float: right">
          <li nz-menu-item>
            <a href="https://github.com/Ahoo-Wang/CoSky" target="_blank">Home</a>
          </li>
          <li nz-menu-item>
            <a href="https://github.com/Ahoo-Wang/CoSky" target="_blank">Documentation</a>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="github"></i>
            <a href="https://github.com/Ahoo-Wang/CoSky" target="_blank">GitHub</a>
          </li>
        </ul>
      </nz-col>
    </nz-row>
  </nz-header>
  <nz-content>
    <nz-card class="login-card" [nzBordered]="false" nzTitle="Sign in to CoSky">
      <form nz-form [formGroup]="loginForm" (ngSubmit)="signIn()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user" nzSize="large">
              <input type="text" nz-input formControlName="username" [(ngModel)]="username" placeholder="Username"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock" nzSize="large">
              <input type="password" nz-input formControlName="password" [(ngModel)]="password" placeholder="Password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" [disabled]="!loginForm.valid" nzSize="large" nzBlock>Sign In</button>
      </form>
    </nz-card>
  </nz-content>
  <nz-footer style="text-align: center;">
    <a href="https://github.com/Ahoo-Wang/CoSky" target="_blank"
       title="High-performance, low-cost microservice governance platform. Service Discovery and Configuration Service.">CoSky</a>
    ©2021
  </nz-footer>
</nz-layout>
