/* You can add global styles to this file, and also import other style files */

.content-header, .content-body {
  background: #fff;
  padding: 16px;
}

.content-header {

}

.content-body {
  margin-top: 16px;
  height: 100%;
}

