<form nzLayout="horizontal" nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">ConfigId</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <input nz-input type="text"
             [ngModel]="configHistory.configId" disabled
             [ngModelOptions]="{standalone: true}"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">hash</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <input nz-input type="text"
             [ngModel]="configHistory.hash" disabled
             [ngModelOptions]="{standalone: true}"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">version</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <input nz-input type="text"
             [ngModel]="configHistory.version" disabled
             [ngModelOptions]="{standalone: true}"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">createTime</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <input nz-input type="text"
             [ngModel]="configHistory.createTime" disabled
             [ngModelOptions]="{standalone: true}"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">op</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <input nz-input type="text"
             [ngModel]="configHistory.op" disabled
             [ngModelOptions]="{standalone: true}"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3">opTime</nz-form-label>
    <nz-form-control [nzSpan]="21">
      <input nz-input type="text"
             [ngModel]="configHistory.opTime" disabled
             [ngModelOptions]="{standalone: true}"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-divider [nzText]="'Current Data - VS - History Version:'+configHistory.version"></nz-divider>
  <ngx-monaco-diff-editor
    style="min-height: 660px;"
    [options]=" {theme:'vs-dark',readOnly:true}" [originalModel]="configCurrentCode"
    [modifiedModel]="configHistoryCode"
    (onInit)="onInitDiffEditor($event)"></ngx-monaco-diff-editor>
  <nz-divider></nz-divider>
  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" nzDanger nzBlock (click)="rollback()">Rollback To
      Version:[{{configHistory.version}}]
    </button>
  </nz-form-item>
</form>



